<!--
  Generated template for the ContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contact Us</ion-title>
  </ion-navbar>
</ion-header>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
     2019 Gulu University, Faculty of Sciennce GCS herbert
  </ion-toolbar>
</ion-footer>

<ion-content padding>
  <ion-card>
<ion-card-header>
  <h2>OUR LOCATION</h2>
</ion-card-header>
<p>Find on Gulu Kampala highway Opposite shell petrol station on plot No 0000.</p>
</ion-card>

<ion-card>
<ion-card-header>
<h2>ADDRESS</h2>
</ion-card-header>
I P.O.BOX 0000 Gulu Uganda.
</ion-card>

<ion-card>
<ion-card-header>
<h2>Email Us</h2>
</ion-card-header>
Email: info@besthotel.com
</ion-card>
</ion-content>
