<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
<ion-card-header>
  Welcome to best Hotel
</ion-card-header>

<ion-card-content>
    <ion-card-content>
          <img src="assets/imgs/fruits.jpg" width="80"/>
    </ion-card-content>
  This is the best hotel in town. Here you will find both local and international food.
  We have the best waiters and watresses to help you out.
  You will also find rooms that will definatly suit your needs at affordable prices.

</ion-card-content>
</ion-card>
  <ion-list>
    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/fruits.jpg" width="80"/>
        </ion-avatar>
        To days Menu
      </ion-item>
      <ion-item-options slide='left'>
        <button ion-button>lIKE</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
